---
import BlogCard from '@/components/BlogCard.astro'
import Link from '@/components/Link.astro'
import PageHead from '@/components/PageHead.astro'
import { buttonVariants } from '@/components/ui/button'
import { SITE } from '@/consts'
import Layout from '@/layouts/Layout.astro'
import { getRecentPosts } from '@/lib/data-utils'

// 1. Dastlab ko'proq maqola olamiz
const allRecent = await getRecentPosts(20)

// 2. Filtrni biroz yumshatamiz (bo'sh joylarni olib tashlash va lang bo'lmasa ham olish)
const blog = allRecent
  .filter((post) => {
    const lang = post.data.lang?.trim()
    return lang === 'uz' || !lang
  })
  .slice(0, SITE.featuredPostCount)
---

<Layout class="max-w-3xl">
  <PageHead slot="head" title="Home" />

  <section>
    <div class="mb-8 rounded-lg border">
      <div class="flex flex-col space-y-1.5 p-6">
        <div
          class="flex h-[36px] items-center overflow-hidden text-3xl leading-none font-medium"
        >
          <span>Snax</span>
          <span class="relative ml-1 inline-block h-[36px] overflow-hidden">
            <ul class="animate-snax-slide text-primary font-medium">
              <li>Lab</li>
              <li>cyz</li>
              <li>Lab</li>
            </ul>
          </span>
        </div>

        <p class="text-muted-foreground text-sm">
          /snæksɪz/&bull; <span class="font-medium">noun</span>
        </p>
      </div>

      <div class="p-6 pt-0">
        <p class="text-muted-foreground mb-2 text-sm">
          My digital world. Here you can find various articles covering music,
          book reviews, art, math, coding and some shit
        </p>
        <p class="text-sm">
          Bu mening shaxsiy sayt blogim. O'zimga manzur keladigan narsalar
          haqida yozish uchun ishlab chiqganman. Senzura yo'q meni ma'naviyatim
          ham
        </p>
        <div class="text-muted-foreground mt-4 text-xs italic">
          *warning: zero filter, no censorship, may contain curse words, just
          pure unfiltered expression.
        </div>
      </div>
    </div>
  </section>

  <section class="flex flex-col gap-y-4">
    <h2 class="text-2xl font-medium">Latest posts</h2>

    {
      blog.length > 0 ? (
        <ul class="flex flex-col gap-y-4">
          {blog.map((post) => (
            <li>
              <BlogCard entry={post} />
            </li>
          ))}
        </ul>
      ) : (
        <p class="text-muted-foreground italic">Hozircha maqolalar yo'q...</p>
      )
    }

    <div class="mt-4 flex justify-center">
      <Link
        href="/blog"
        class={buttonVariants({ variant: 'ghost' }) + ' group'}
      >
        See all posts <span
          class="ml-1.5 transition-transform group-hover:translate-x-1"
          >&rarr;</span
        >
      </Link>
    </div>
  </section>
</Layout>
